@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=League+Spartan:wght@100..900&display=swap');

/* ================= SOBRE ================= */

.sobre {
  padding-top: 80px; /* espaço para header fixo */
  background: #f8f8f8;
}

.sobre-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 8%;
}

/* IMAGEM */

.sobre-image {
  flex: 0 0 50%;
}

.sobre-image img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* TEXTO */

.sobre-content {
  flex: 0 0 50%;
}

.sobre-content h1 {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 700;
}

.sobre-content p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 18px;
  color: #444;
}

.sobre-highlight {
  font-weight: 600;
  margin-top: 20px;
}

/* ================= MOBILE SOBRE NÓS ================= */
@media (max-width: 768px) {

  .sobre-section {
    flex-direction: column;
    padding: 0px 20px 60px 20px; /* 🔥 reduz topo */
    gap: 20px; /* reduz espaço entre imagem e texto */
  }

  .sobre-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sobre-image img {
    width: 70%;   /* 🔥 diminui bastante a imagem */
    max-width: 280px; /* limite máximo */
    height: auto;
  }

  .sobre-content {
    width: 100%;
    text-align: center;
  }

  .sobre-content h1 {
    font-size: 24px;
  }

  .sobre-content p {
    font-size: 15px;
  }
}