.header {
  width: 100vw;
  background: white;
  border-bottom: 3px solid #ff5c00;
}

.nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav a:hover {
  color: #ff5c00;
}

.nav-logo img {
  height: 45px;
}
