/* HEADER CONTAINER */
.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1000;
}

/* NAV PRINCIPAL */
.nav {
  padding: 0 20%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* GRUPOS ESQUERDA E DIREITA */
.nav-left {
  display: flex;
  gap: 10%;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  gap: 10%;
  justify-content: flex-start;
  padding-left: 15%;
}

/* LINKS */
.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
}

/* HOVER */
.nav a:hover {
  color: #ff6a00;
}

/* LOGO */
.logo {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 100%;
}

/* ===== DROPDOWN FAC ===== */

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown-title {
  font-weight: 600;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 220px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  font-weight: 600;
  display: none;
  flex-direction: column;
  z-index: 999;
}

.dropdown-menu a {
  padding: 10px 16px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.2s;
  color: #000;
  font-weight: 600;
}

.dropdown-menu a:active {
  background: #f5f5f5;
}

/* Mostrar ao passar o mouse */
.dropdown:hover .dropdown-menu {
  display: flex;
}